
.card {
    width: 330px;
    margin: auto;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
    background-color: rgb(240, 245, 250);
}

.name {
    font-size: 1.5em;
    text-align: center;
}

.image {
    display: block;
    width: 300px;
    margin: auto;
}

.info {
    border: 0.1px solid gray;
    margin: 20px auto;
    width: 300px;
    padding: 10px;
    background-color: white;
}

.fact {
    font-style: italic;
    text-align: justify;
}

.list {
    list-style:none;
    padding-left:0;
}​

.items {
    list-style-type: none;
}

.label {
    font-weight: bold;
}

.description {
    text-align: justify;
}